In [5]:
import pandas as pd 
import nltk
import csv
from pprint import pprint   
import re

In [8]:
df = pd.read_csv('clash-of-clans.csv')
df.head()

       Date                      Content              Name  Rating
0  2/1/2019                          ðŸ’œðŸ’œðŸ’œ     Tusher shimul       5
1  2/1/2019             Pls make it th13               NaN       3
2  2/1/2019                   it is cute       jibon ahmed       5
3  2/1/2019                       superb  Sunil Jayasingha       5
4  2/1/2019  its an awesome game, period               NaN       5