In [23]:
#libraries
import pandas as pd 
import nltk
import csv
from pprint import pprint   
import re

In [24]:
#load datset
df = pd.read_csv('clash-of-clans.csv')
df.head()

       Date                      Content              Name  Rating
0  2/1/2019                          ðŸ’œðŸ’œðŸ’œ     Tusher shimul       5
1  2/1/2019             Pls make it th13               NaN       3
2  2/1/2019                   it is cute       jibon ahmed       5
3  2/1/2019                       superb  Sunil Jayasingha       5
4  2/1/2019  its an awesome game, period               NaN       5

In [25]:
#load content into separate df
content = df.Content

#look at first 5 rows of content
ctr = 0
for row in content:
    if ctr > 5:
        break
    print(row)
    ctr+=1

ðŸ’œðŸ’œðŸ’œ
Pls make it th13
it is cute
superb
its an awesome game, period
wow

In [26]:
#create list of individual words
tokens=[]

for row in df:
    tokens+=row.split(' ')

In [27]:
#normalize tokens
norrmalized_tokens = [re.sub(r'\W+', '', token.lower()) for token in tokens]

In [28]:
#look at list of normalized tokens
norrmalized_tokens[:5]

['date', 'content', 'name', 'rating']